@use "../../styles/variables" as *;

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: calc(100vh - 80px);
}

.glassCard {
  width: 100%;
  max-width: 1000px;
  background: var(--color-bg-card);
  backdrop-filter: blur(16px);
  border: 1px solid var(--color-border);
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}

.movieHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 30px;
}

.movieInfo {
  display: flex;
  gap: 24px;
  align-items: center;

  .poster {
    width: 60px;
    height: 90px;
    border-radius: 12px;
    overflow: hidden;
    background: var(--color-bg-main);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    color: var(--color-text-main);

    .title {
      font-size: var(--font-xl);
      font-weight: var(--font-weight-bold);
      margin: 0;
      letter-spacing: -0.5px;
    }

    .subtitle {
      color: var(--color-text-muted);
      margin: 4px 0 0;
      font-size: var(--font-xs);
      font-weight: 400;
    }
  }
}

.sessionInfo {
  display: flex;
  gap: 20px;

  .sessionProperty {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
      font-size: var(--font-xxs);
      align-self: center;
      color: var(--color-text-muted);
      text-transform: uppercase;
    }

    .propValue {
      background-color: var(--color-bg-main);
      color: white;
      border: 1px solid var(--color-border);
      padding: 10px 16px;
      border-radius: 10px;
      font-size: var(--font-xs);
    }
  }
}

/* Екран */
.screenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  .screenArc {
    width: 75%;
    height: 6px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    filter: blur(6px);
    box-shadow: 0 -8px 25px rgba(255, 255, 255, 0.4);
  }

  .screenText {
    margin-top: 15px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 6px;
    color: var(--color-text-muted);
    text-transform: uppercase;
  }
}

/* Зал */
.hall {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 50px;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    .rowNumber {
      font-size: 12px;
      font-weight: 600;
      color: var(--color-text-muted);
      width: 20px;
      text-align: center;
    }

    .seatsList {
      display: flex;
      gap: 14px;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  //align-items: flex-end;
  border-top: 1px solid var(--color-border);
  padding-top: 35px;
  gap: 40px;
}

.legend {
  display: flex;
  align-self: center;
  gap: 32px;
  padding: 12px 0;

  .legendItem {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    color: var(--color-text-muted);

    .dot {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    .dotAvailable {
      background: var(--color-text-muted);
    }
    .dotOccupied {
      background: var(--color-border);
      opacity: 0.3;
    }
    .dotSelected {
      background: var(--color-accent);
      box-shadow: 0 0 8px var(--color-accent);
    }
  }
}

.summary {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 55%;

  .seatsInfo {
    font-size: 14px;
    color: var(--color-text-muted);
    line-height: 1.6;

    strong {
      color: white;
      margin-right: 8px;
      font-weight: 600;
    }

    span {
      word-break: break-word;
    }
  }

  .priceInfo {
    font-size: 18px;
    color: white;

    strong {
      font-weight: 500;
    }

    .totalPrice {
      color: var(--color-accent);
      font-weight: 700;
      margin-left: 10px;
      font-size: 20px;
    }
  }

  .emptyMsg {
    color: var(--color-text-muted);
    font-style: italic;
    font-size: 14px;
  }
}

@mixin confirmBtnMixin {
  background: var(--color-accent);
  color: white;
  border: none;
  width: 230px;
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;

  text-overflow: ellipsis;
}

.bookBtn {
  @include confirmBtnMixin;
  box-shadow: 0 8px 20px rgba(56, 189, 248, 0.2);

  &:hover:not(:disabled) {
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(56, 189, 248, 0.4);
    background: lighten(#38bdf8, 5%);
  }

  &:active:not(:disabled) {
    transform: translateY(-1px);
  }

  &:disabled {
    background: var(--color-border);
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
}

.promoBtn {
  @include confirmBtnMixin;
  text-wrap: initial;

  &:hover:not(:disabled):not(.failure) {
    transform: translateY(-3px);
    background: lighten(#38bdf8, 5%);
  }

  &:active:not(:disabled) {
    transform: translateY(-1px);
  }

  &:disabled:not(.success) {
    background: var(--color-border);
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

  &.success {
    background: rgb(56, 248, 75);
    box-shadow: none;
  }

  &.failure {
    background: var(--color-error);
    box-shadow: none;

    &:hover {
      transform: translateY(-3px);
      background: lighten(#a21111, 5%);
    }
  }
}

.promoInput {
  background: var(--color-border);
  border: none;
  height: 100%;
  border-radius: 12px;
  padding: 14px 20px;
  color: var(--color-white);
  font-size: 14;
  //text-align: center;

  &:focus {
    outline: 1px solid var(--color-accent);
  }

  &.success {
    outline: 1px solid rgb(56, 248, 75);
  }

  &.failure {
    outline: 1px solid var(--color-error);
  }
}

.promoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%;
  gap: 5px;
}

// select {
//   appearance: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;

//   background-color: var(--color-bg-main);
//   color: white;
//   border: 1px solid var(--color-border);
//   padding: 10px 16px;
//   padding-right: 40px;
//   border-radius: 10px;
//   cursor: pointer;
//   font-size: var(--font-xs);
//   transition: all 0.2s ease;
//   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
//   background-repeat: no-repeat;
//   background-position: right 12px center;
//   background-size: 16px;

//   outline: none;
//   box-shadow: none;
//   &:hover {
//     border-color: var(--color-accent);
//   }

//   &:focus {
//     border-color: var(--color-accent);
//     box-shadow: none;
//   }

//   &:-moz-focusring {
//     color: transparent;
//     text-shadow: 0 0 0 white;
//   }
// }
