.container { 
    //padding: 40px; 
    
    max-width: 1300px;
    margin: 20px auto 0;
    padding: 0 25px;
    
    text-align: center; 
    color: var(--color-text-main); 
}

.hallTitle {
    text-align: center;
    width: 100%;
    color: var(--color-text-main);
    margin-bottom: 10px;
    font-size: var(--font-lg);
    font-weight: 600;
}

.hallsHeader{
    display: flex;
    flex-direction: row;
}